# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*.pyd
*.so
*.egg-info/
.eggs/

# =========================
# Build / Release
# =========================
build/
dist/
releases/
updates/
_internal/
*.exe
*.dll
*.zip
*.pak

# =========================
# Virtual Environment
# =========================
.venv/
venv/
env/

# =========================
# Logs
# =========================
logs/
*.log

# =========================
# Env / Secrets
# =========================
.env
.env.*

# =========================
# IDE
# =========================
.vscode/
.idea/

# =========================
# OS
# =========================
.DS_Store
Thumbs.db
desktop.ini
